<div class="custom">
{{section.settings.custom_liquid}}
</div>
{% schema %}
{
  "name": "pankajcustom",
  "tag": "section",
  "class": "pankaj-section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "pankajcustom"
    }
  ],
  "presets": [
    {
      "name": "pankajcustom"
    }
  ]
}
{% endschema %}

